<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- mapper태그에 dtd를정의했기에 mapper의 태그이름을 바꾸면 안된다 -->
<mapper namespace="kr.dao.LevelMapper"> <!-- 패키지이름 + 파일이름 경로가 아닌 이름이기에 /가 아닌 .을 붙인 것 -->
   <select id = "levelList" resultType="kr.entity.Tbl_Level_Community" parameterType="kr.entity.Tbl_Level_Community"><!-- id : DAO의 메소드이름 -->
    select l.LV_SEQ, l.LV_TITLE, l.LV_CONTENT, l.LV_DATE, m.MB_ID, l.LV_CNT
	from TBL_LEVEL_COMMUNITY_${level} l INNER JOIN TBL_MEMBER m on l.mb_id = m.mb_id
	order by LV_SEQ ASC
  </select>
  <select id="levelMyChart" resultType="int" parameterType="kr.entity.Mb_Level">
	select round((m.challenge_total - sum(c.pay_money) )/m.challenge_total*100)
from tbl_member m, tbl_member_challenge c 
where m.mb_id = c.mb_id and pay_date between '22/08/01' and '22/09/07'
and m.mb_id = #{mb_id}
group by m.mb_id,m.challenge_total
</select>
<select id="levelChart" resultType="int" parameterType="kr.entity.Mb_Level" >
select round(avg(a),1) from (select m.mb_level, m.mb_id,(m.challenge_total - sum(c.pay_money) )/m.challenge_total*100 a
from tbl_member m, tbl_member_challenge c 
where m.mb_id = c.mb_id and pay_date between '22/08/01' and '22/09/07'
group by m.mb_level, m.mb_id,m.challenge_total)
where mb_level = ${mb_level}
group by mb_level
</select>

<select id="rankingList" parameterType="kr.entity.Mb_Level" resultType="kr.entity.Mb_Level" >
select distinct m.mb_name,round((m.challenge_total - sum(c.pay_money) )/m.challenge_total*100,1) a
from tbl_member m, tbl_member_challenge c 
where m.mb_id = c.mb_id and pay_date between '22/08/01' and '22/09/07'
and m.mb_level = ${mb_level}
group by m.mb_name,m.challenge_total
order by a desc 
</select>
   
</mapper>